<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

    {{#if comments.length}}
  <section class="card">
    <div class="card-header">
      <h3>Comments</h3>
    </div>
    <div class="card-body">
      {{#each comments as |comment|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <p>
             {{comment.text}}
            </p>
             <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{cpmment.id}}">DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
     {{/if}}

 <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>
    <div class="card-body">
      <input type="hidden" name="post-id" value="{{id}}" />
      <label class="form-label" for="comment-body">Comment</label>
      <textarea name="comment-body" class="form-input"></textarea>
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/js/profile.js"></script>